<footer style="background-color: blue; height: 60px; padding: 15px; margin-top: 50px;">
    <p style="text-align: center;">Vi Thanh Đức PH25202</p>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>