<%- include('../views/top', {tieude:"Trang chủ"})  %>

<div class="row">
  <div class="bg-danger col-3" style="border-radius: 10px; height: 200px; margin-top: 10px; text-align: center; padding: 90px;">User</div>
  <div class="col-1"> </div>
  <div class="bg-info col-4" style="border-radius: 10px; height: 200px; margin-top: 10px; text-align: center; padding: 90px;">Product</div>
  <div class="col-1"> </div>
  <div class="bg-primary col-3" style="border-radius: 10px; height: 200px; margin-top: 10px; text-align: center; padding: 90px;">Setting</div>
</div>
<div class="row">
  <div class="bg-warning col-3" style="border-radius: 10px; height: 200px; margin-top: 10px; text-align: center; padding: 90px;">Group</div>
  <div class="col-1"> </div>
  <div class="bg-success col-4" style="border-radius: 10px; height: 200px; margin-top: 10px; text-align: center; padding: 90px;">Tag</div>
  <div class="col-1"> </div>
  <div class="bg-secondary col-3" style="border-radius: 10px; height: 200px; margin-top: 10px; text-align: center; padding: 90px;">Info</div>
</div>
<%- include('../views/bottom')  %>