<%- include('../inc/top', {tieude: "Danh sách người dùng"}) %>
<h1 style="margin: 20px;">Danh sách người dùng</h1>
<div class="lab1-table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên đăng nhập</th>
            <th scope="col">Email</th>
            <th scope="col">Vai trò</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>thanhduc719</td>
            <td>thanhduc719@gmail.com</td>
            <td>Admin</td>
            <td><button>Xóa</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>duonglinhh2102</td>
            <td>duonglinhh2102@gmail.com</td>
            <td>User</td>
            <td><button>Xóa</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>leha0712</td>
            <td>leha0712@gmail.com</td>
            <td>User</td>
            <td><button>Xóa</button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>quan2711</td>
            <td>bnad@gmail.com</td>
            <td>Admin</td>
            <td><button>Xóa</button></td>
          </tr>
        </tbody>
      </table>
</div>
<%- include('../inc/bottom') %>