
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        .lab1-form-border {
            border: 1px solid gray;
            border-radius: 5px;
            padding: 30px;
            margin: 100px;
            margin-left: 350px;
            width: 600px;
        }
    </style>
</head>

<body class="container">
    <div class="lab1-form-border">
    <form>
        <div class="mb-3">
            <h1>Đăng nhập</h1>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <a href="/user/add" style="text-decoration: none; margin-right: 400px;">Đăng ký</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>